@media screen and (min-width = 200px) and (max-width = 567px) {
    .header{
        width: 100%;
    }
    #hero{
        width: 100%;
    }
    /* @media screen and (min-width = 200px) and (max-width = 567px) {
        .header{
            width: 100%;
        } */
        /* #hero{
          width: 100%;
        } */
        #toolbar{
          width: 100%;
        }
        #toolbarImg{
            width: 317vw;
        }
        .fe_box{
            width: 100%;
        }
        .body{
            width: 100%;
        }
    }
